# .gitignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Build outputs
dist/
dist-ssr/
.build/

# Env files
.env

# Editor and system files
.vscode/
.idea/
.DS_Store

node_modules/
